<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/719ca9dd-8cbb-480d-8d6b-f7e177558b87/resourceGroups/SRIFunDooNotes_group/providers/Microsoft.Web/sites/SriFunDooNoteApp</ResourceId>
    <ResourceGroup>SRIFunDooNotes_group</ResourceGroup>
    <ApiResourceId>/subscriptions/719ca9dd-8cbb-480d-8d6b-f7e177558b87/resourceGroups/SRIFunDooNotes_group/providers/Microsoft.ApiManagement/service/FunDooNoteAppapi/apis/FunDooNoteApp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://srifundoonoteapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ab85766f-d213-4f38-a85d-406eb1563ba0</ProjectGuid>
    <MSDeployServiceURL>srifundoonoteapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SriFunDooNoteApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SriFunDooNoteApp</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>